/* INICIO */

/* ESTILOS GENERALES */
* {
    margin: 0;
}

body {
    font-family: 'Bebas Neue', cursive;
    height: 100%;
    color: white;
    background-image: linear-gradient(315deg, #075e00 0%, #85e48c 55%, #119e1c 74%);
}

.headerH1 {
    font-size: 80px;
    text-align: center;
    background-color: #d5dfd7;
    background-image: radial-gradient(circle at 50%, #279634 0%, #068d16 80%, #086804 94%);
    padding: 40px 0px 40px 0px;
}

li {
    background-color: rgb(0, 168, 0);
    list-style-type: none;
    padding: 0px 20px 0px 20px;
    margin: 1px;
    border: white solid 2px;
}

.posicion {
    position: absolute;
    width: 200px;
    height: 200px;
    text-align: start;
}

.imagenesSecu {
    width: 24%;
    height: 53vh;
}

.colorVerdeSeccion {
    font-size: 30px;
    color: rgb(220, 255, 220);
    font-style: italic;
    padding: 20px;
}

.iframe {
    width: 99%;
    height: 70vh;
    margin-left: 0;
}

.borde {
    border: inset 5px black;
}

/* GRID */

#gridAreas {
    display: grid;
    grid-template-areas:
        "cabeza"
        "inicio"
    ;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

header {
    grid-area: cabeza;
    padding: 5px;
}

.main {
    grid-area: inicio;
    background-color: rgb(24, 68, 24);
    padding: 5px;
}

/* FLEX */

.menuFlex {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

/* MOBILE FIRST */
/* SMARTPHONE */
@media (max-width: 480px) {
    body {
        font-family: 'Bebas Neue', cursive;
        height: 100%;
        color: white;
        background-image: linear-gradient(315deg, #075e00 0%, #85e48c 55%, #119e1c 74%);
    }

    .headerH1 {
        font-size: 80px;
        text-align: center;
        background-color: #d5dfd7;
        background-image: radial-gradient(circle at 50%, #279634 0%, #068d16 80%, #086804 94%);
        padding: 40px 0px 40px 0px;
    }

    li {
        background-color: rgb(0, 168, 0);
        list-style-type: none;
        padding: 0px 20px 0px 20px;
        margin: 1px;
        border: white solid 2px;
    }

    .posicion {
        position: absolute;
        width: 200px;
        height: 200px;
        text-align: start;
    }

    .imagenesSecu {
        width: 24%;
        height: 53vh;
    }

    .colorVerdeSeccion {
        font-size: 30px;
        color: rgb(220, 255, 220);
        font-style: italic;
        padding: 20px;
    }

    .iframe {
        width: 99%;
        height: 70vh;
        margin-left: 0;
    }

    .borde {
        border: inset 5px black;
    }

    /* GRID */

    #gridAreas {
        display: grid;
        grid-template-areas:
            "cabeza"
            "inicio"
        ;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    header {
        grid-area: cabeza;
        padding: 5px;
    }

    .main {
        grid-area: inicio;
        background-color: rgb(24, 68, 24);
        padding: 5px;
    }

    /* FLEX */

    .menuFlex {
        display: flex;
        flex-flow: row;
        justify-content: center;
    }


    /* TABLET */
    @media (max-width: 481px) and (max-width: 1023px) {
        body {
            font-family: 'Bebas Neue', cursive;
            height: 100%;
            color: white;
            background-image: linear-gradient(315deg, #075e00 0%, #85e48c 55%, #119e1c 74%);
        }

        .headerH1 {
            font-size: 80px;
            text-align: center;
            background-color: #d5dfd7;
            background-image: radial-gradient(circle at 50%, #279634 0%, #068d16 80%, #086804 94%);
            padding: 40px 0px 40px 0px;
        }

        li {
            background-color: rgb(0, 168, 0);
            list-style-type: none;
            padding: 0px 20px 0px 20px;
            margin: 1px;
            border: white solid 2px;
        }

        .posicion {
            position: absolute;
            width: 200px;
            height: 200px;
            text-align: start;
        }

        .imagenesSecu {
            width: 24%;
            height: 53vh;
        }

        .colorVerdeSeccion {
            font-size: 30px;
            color: rgb(220, 255, 220);
            font-style: italic;
            padding: 20px;
        }

        .iframe {
            width: 99%;
            height: 70vh;
            margin-left: 0;
        }

        .borde {
            border: inset 5px black;
        }

        /* GRID */

        #gridAreas {
            display: grid;
            grid-template-areas:
                "cabeza"
                "inicio"
            ;
            grid-template-columns: 100%;
            grid-template-rows: auto;
            grid-column-gap: 5px;
            grid-row-gap: 5px;
        }

        header {
            grid-area: cabeza;
            padding: 5px;
        }

        .main {
            grid-area: inicio;
            background-color: rgb(24, 68, 24);
            padding: 5px;
        }

        /* FLEX */

        .menuFlex {
            display: flex;
            flex-flow: row;
            justify-content: center;
        }


        /* DESKTOP */
        @media (max-width: 1024px) {
            body {
                font-family: 'Bebas Neue', cursive;
                height: 100%;
                color: white;
                background-image: linear-gradient(315deg, #075e00 0%, #85e48c 55%, #119e1c 74%);
            }

            .headerH1 {
                font-size: 80px;
                text-align: center;
                background-color: #d5dfd7;
                background-image: radial-gradient(circle at 50%, #279634 0%, #068d16 80%, #086804 94%);
                padding: 40px 0px 40px 0px;
            }

            li {
                background-color: rgb(0, 168, 0);
                list-style-type: none;
                padding: 0px 20px 0px 20px;
                margin: 1px;
                border: white solid 2px;
            }

            .posicion {
                position: absolute;
                width: 200px;
                height: 200px;
                text-align: start;
            }

            .imagenesSecu {
                width: 24%;
                height: 53vh;
            }

            .colorVerdeSeccion {
                font-size: 30px;
                color: rgb(220, 255, 220);
                font-style: italic;
                padding: 20px;
            }

            .iframe {
                width: 99%;
                height: 70vh;
                margin-left: 0;
            }

            .borde {
                border: inset 5px black;
            }

            /* GRID */

            #gridAreas {
                display: grid;
                grid-template-areas:
                    "cabeza"
                    "inicio"
                ;
                grid-template-columns: 100%;
                grid-template-rows: auto;
                grid-column-gap: 5px;
                grid-row-gap: 5px;
            }

            header {
                grid-area: cabeza;
                padding: 5px;
            }

            .main {
                grid-area: inicio;
                background-color: rgb(24, 68, 24);
                padding: 5px;
            }

            /* FLEX */

            .menuFlex {
                display: flex;
                flex-flow: row;
                justify-content: center;
            }

            /* PRODUCTOS */

            /* ESTILOS GENERALES */

            * {
                margin: 0px;
            }

            #TITULO {
                font-size: 30px;
                color: rgb(232, 255, 232);
                font-style: italic;
            }

            .precios {
                color: rgb(231, 255, 228);
            }

            /* GRID */

            #gridAreas2 {
                display: grid;
                grid-template-areas:
                    "cabeza"
                    "productos"
                ;
                grid-template-columns: 100%;
                grid-template-rows: auto;
                grid-column-gap: 5px;
                grid-row-gap: 5px;
            }

            header {
                grid-area: cabeza;
                padding: 5px;
            }

            .main2 {
                grid-area: productos;
                padding: 5px;
            }

            .galeriaFlex {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                padding: 5;
            }

            /* MOBILE FIRST */
            /* SMARTPHONE */
            @media (max-width: 480px) {
                body {
                    font-family: 'Bebas Neue', cursive;
                    color: white;
                    background-color: black;
                    height: 100vh;
                    width: auto;
                }

                #TITULO {
                    font-size: 30px;
                    color: rgb(232, 255, 232);
                    font-style: italic;
                }

                .precios {
                    color: rgb(231, 255, 228);
                }

                /* GRID */

                #gridAreas2 {
                    display: grid;
                    grid-template-areas:
                        "cabeza"
                        "productos"
                    ;
                    grid-template-columns: 100%;
                    grid-template-rows: auto;
                    grid-column-gap: 5px;
                    grid-row-gap: 5px;
                }

                header {
                    grid-area: cabeza;
                    padding: 5px;
                }

                .main2 {
                    grid-area: productos;
                    padding: 5px;
                }

                .galeriaFlex {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    padding: 5;
                }


                /* TABLET */
                @media (max-width: 481px) AND (max-width: 1023px) {
                    body {
                        font-family: 'Bebas Neue', cursive;
                        color: white;
                        background-color: black;
                        height: 100vh;
                        width: auto;
                    }

                    #TITULO {
                        font-size: 30px;
                        color: rgb(232, 255, 232);
                        font-style: italic;
                    }

                    .precios {
                        color: rgb(231, 255, 228);
                    }

                    /* GRID */

                    #gridAreas2 {
                        display: grid;
                        grid-template-areas:
                            "cabeza"
                            "productos"
                        ;
                        grid-template-columns: 100%;
                        grid-template-rows: auto;
                        grid-column-gap: 5px;
                        grid-row-gap: 5px;
                    }

                    header {
                        grid-area: cabeza;
                        padding: 5px;
                    }

                    .main2 {
                        grid-area: productos;
                        padding: 5px;
                    }

                    .galeriaFlex {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        padding: 5;
                    }


                    /* DESKTOP */
                    @media (min-width: 1024px) {
                        body {
                            font-family: 'Bebas Neue', cursive;
                            color: white;
                            background-color: black;
                            height: 100vh;
                            width: auto;
                        }

                        #TITULO {
                            font-size: 30px;
                            color: rgb(232, 255, 232);
                            font-style: italic;
                        }

                        .precios {
                            color: rgb(231, 255, 228);
                        }

                        /* GRID */

                        #gridAreas2 {
                            display: grid;
                            grid-template-areas:
                                "cabeza"
                                "productos"
                            ;
                            grid-template-columns: 100%;
                            grid-template-rows: auto;
                            grid-column-gap: 5px;
                            grid-row-gap: 5px;
                        }

                        header {
                            grid-area: cabeza;
                            padding: 5px;
                        }

                        .main2 {
                            grid-area: productos;
                            padding: 5px;
                        }

                        .galeriaFlex {
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: center;
                            padding: 5;
                        }


                        /* FIN */